/* CSS de la página de demo.html */

body {
    background-color: #000;
    /* color de fondo de toda la página */
    color: #fff;
    /* color de letra de toda la página */
}

h1 {
    text-align: center;
    text-transform: uppercase;
    font-weight: 900;
    color: #000;
    background-color: rgb(8, 110, 194);
}

p {
    text-align: center;
    color: rgb(231, 231, 221) font-weight: 500;
    font-size: larger;
}

dl {
    font-weight: 500;
    font-size: larger;
    text-indent: 20px;
}

/* imagen */
picture {
    display: flex;
    justify-content: center;
}


#fondo {

    background-color: rgba(7, 44, 100, 0.959);
}

/* lista y enlace */
#opciones {
    text-align: center;
    list-style: none;
    /* elimina los puntitos (viñeta) */
}

#opciones li {
    text-decoration: none;
    color: #fff;
    list-style: none;
    padding: 5px;
    text-align: center;
    display: inline-block;
}

.boton {
    text-decoration: none;
    /* Eliminamos el subrayado del enlace */
    color: #fff;
    border: 3px solid rgb(0, 0, 0);
    padding: 5px;
    /* margen interior */
    border-radius: 5px;
    display: inline-block;
}

.boton:hover {
    /* pseudoclase hover se activa cuando el mouse está por encima del elemento */
    background-color: rgb(135, 205, 245);
    color: #000;
}

.padre {
    display: flex;
    justify-content: left;

}

.hijo {
    padding: 20px;
    margin-bottom: 20px;

}