/* CSS de la página de demo.html */

body {
    background-color: #000; /* color de fondo de toda la página */ 
    color:#fff; /* color de letra de toda la página */
}
h1 {
    text-align: center;
    text-transform: uppercase;
    font-weight: 900; 
    color:#000;
}
p {
    text-align: center;
    color: #fdf9f9;
    font-weight: 500; 
    font-size: larger;
}

/* imagen */ 
picture {
    display: flex;
    justify-content: center;
}

picture img {
     /*  width: ancho / height: alto*/ 
}
#fondo {
  
  background-color: rgb(53, 106, 185);
}
/* lista y enlace */
#opciones {
    text-align: center;
    list-style: none; /* elimina los puntitos (viñeta) */
}

#opciones  li {
    text-decoration: none;
    color: #fff;
    list-style: none; 
    padding: 5px;
    text-align: center;
    display: inline-block;
  }

.boton {
    text-decoration: none; /* Eliminamos el subrayado del enlace */
    color: #fff;
    border: 2px solid rgb(217, 168, 54);
    padding: 5px; /* margen interior */
    border-radius: 5px;
    display: inline-block;
}
.boton:hover { /* pseudoclase hover se activa cuando el mouse está por encima del elemento */
    background-color: burlywood;
    color: #000;
}
.padre {
    display: flex;
    justify-content: left;

}

.hijo {
    padding: 20px;
    margin-bottom: 20px;

}

